<div>
  <form [formGroup]="parkingForm">
    <div>
      <label for="first-name">לוחית רישוי: </label>
      <input id="first-name" type="text" formControlName="licencePlateId">
    </div>

    <div>
      <label for="last-name">שם: </label>
      <input id="last-name" type="text" formControlName="name">
    </div>

    <div>
      <label for="last-name">טלפון: </label>
      <input id="last-name" type="text" formControlName="phone">
    </div>
    
    <div>
        <label for="last-name">סוג כרטיס: </label>
        <mat-select formControlName="ticketType" placeholder="סוג כרטיס">
          <mat-option *ngFor="let type of ticketTypes; let index=index" [value]="index">
            {{ type }}
          </mat-option>
        </mat-select>
    </div>

    <div>
        <label for="last-name">סוג רכב: </label>
        <mat-select formControlName="vehicleType" placeholder="סוג רכב">
          <mat-option *ngFor="let type of vehicleTypes; let index=index" [value]="index">
            {{ type }}
          </mat-option>
        </mat-select>
    </div>

    <div>
      <label for="last-name">גובה: </label>
      <input id="last-name" type="number" formControlName="vehicleHeight">
    </div>

    <div>
      <label for="last-name">משקל: </label>
      <input id="last-name" type="number" formControlName="vehicleWidth">
    </div>

    <div>
      <label for="last-name">אורך: </label>
      <input id="last-name" type="number" formControlName="vehicleLength">
    </div>

    <div (click)="save()">שמור</div>
  </form>
</div>
