:host ::ng-deep.btn-login{
    background-color: #366c36;
    margin-right: 3px;
  }
  :host ::ng-deep.btn-register{
    background-color: #1065a2;
  }

  
  :host ::ng-deep.login-content{
    width: 300px;
  }
  :host ::ng-deep .login-frame{
    display: flex;
    width: 100%;
    justify-content: center;
  }