<div class="login-frame">
    <div class="login-content">
      <div class="medium-title">Register</div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="small-title" for="firstName">FirstName</label>
          <input type="text" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">FirstName is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="small-title" for="lastName">LastName</label>
          <input type="text" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">LastName is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="small-title" for="phoneArea">PhoneArea</label>
          <input type="text" formControlName="phoneArea" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.phoneArea.errors }" />
          <!-- <div *ngIf="submitted && f.phoneArea.errors" class="invalid-feedback">
                      <div *ngIf="f.phoneArea.errors.required">PhoneArea is required</div>
                  </div> -->
        </div>
        <div class="form-group">
          <label class="small-title" for="phoneNumber">PhoneNumber</label>
          <input type="text" formControlName="phoneNumber" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
          <!-- <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                      <div *ngIf="f.phoneNumber.errors.required">PhoneNumber is required</div>
                  </div> -->
        </div>
        <div class="form-group">
          <label class="small-title" for="username">Username</label>
          <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="small-title" for="password">Password</label>
          <input type="text" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <label class="small-title" for="verificationPassword">Verification Password</label>
          <input type="text" formControlName="verificationPassword" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.verificationPassword.errors }" />
          <div *ngIf="submitted && f.verificationPassword.errors" class="invalid-feedback">
            <div *ngIf="f.verificationPassword.errors.required">Verification Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary btn-register">Register</button>
        </div>
      </form>
    </div>
  </div>
  