body{
    min-height: 881px;
  }
  /* .forum-page{
    background-color: darkgoldenrod;
  } */
  .top-row{
    background-color: #141414;
  }
  .main-title-frame{
    display:flex;
    justify-content: center;
    font-family: fantasy;
  }
  .main-title-content {
    margin-bottom: 0;
    color: #dedede;
  }
  
  .forum-frame{
    display:flex;
    min-height: 100vh;
  }
  mat-grid-tile {
    background: lightblue;
  }
  
  